* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;

    background: #FAFAFA;
    font-size: 1.5rem;
}

main {
    color: #FAFAFA;
    display: flex;
    font-family: montserrat;
    height: 100%;
    width: 100vw;
}

.hidden { display: none !important; }
.flex { display: flex; }
.flex-column { flex-flow: column nowrap; }
.center { align-items: center; justify-content: center; }
.expand-all { height: 100%; width: 100%; }

///
/// Container classes
///
.main_content {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}
.modal {
    background-color: #7197BA;
    height: 100%;
    position: fixed;
    width: 100vw;
    z-index: 10;
}

.error {
    color: #ff6767;
}
.warning {
    color: #ffac42;
}
.info {
    color: #678eff;
}

.logcat_message {
    font-size: 1.2rem;
    color: #333333;
}

.message {
    font-size: 1.2rem;
    &:after { content: ': '; }
}

.message_content {
    color: #333333;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

///
/// Components
///
.sidebar {
    display: flex;
    height: 100%;
    width: 5rem;
    background-color: #7197BA;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.26);
    align-items: center;
    justify-content: center;
    z-index: 2;

    &_button:hover {
        cursor: pointer;
    }
}

.logcat_container {
    background-color: #ccc;
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    width: calc(100vw - 4.5rem);
    height: 60%;
    z-index: 1;
    bottom: 0;

    .resizer {
        width: 100%;
        height: 5px;

        &:hover {
            background-color: rgba(0, 0, 0, .2);
            cursor: ns-resize;
        }
    }

    .connecting_container {
        align-items: center;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .container_messages {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        padding: 10px 20px;
        overflow: hidden;
    }
}

.loader{
    font-size: 48px;
    color: #FFF;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
}
.loader:before{
    content: '';
    animation: 5s print linear alternate infinite;
}
.loader:after{
    content: '';
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translatey(-45%);
    width: 6px;
    height: 1.3em;
    background: #FFF;
    opacity: 0.8;
    animation: 1s blink steps(2) infinite;
}

//
// Wave Effect
//
.circle_android {
    display: flex;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: #0194c7;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    .delay1 {
        animation: waves 2.5s infinite;
        animation-delay: .1s;
    }

    .delay2 {
        animation: waves 2.5s infinite .7s forwards,
    }

    .delay3 {
        animation: waves 2.5s infinite 1.3s forwards;
    }

    .delay4 {
        animation: waves 2.5s infinite 1.9s forwards;
    }

    img {
        width: 6em;
        height: 6em;
    }

    img, svg, span {
        z-index: 1;
    }

    span {
        margin-bottom: 15px;
    }
}

.wave {
    display: block;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background: #0194c7;
    transition: 5s ease;
    position: absolute;
    z-index: 0;
}

@keyframes waves {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(4);
        opacity: 0;
    }
}

@keyframes blink {
    0%  { visibility: hidden;}
    100%  { visibility: visible;}
}
@keyframes print {
    0% { content: 'L'}
    10% { content: 'Lo'}
    20% { content: 'Loa'}
    30% { content: 'Load'}
    40% { content: 'Loadi'}
    50% { content: 'Loadin'}
    60% { content: 'Loading'}
    70% { content: 'Loading.'}
    80% { content: 'Loading..'}
    90% , 100% { content: 'Loading...'}
}
